<div class="col-md-6 col-md-offset-3">
  <div *ngIf="forgotPassErrors" class="alert alert-danger" role="alert">{{ forgotPassErrors }}</div>
  <div *ngIf="forgotPassMsgs" class="alert alert-success" role="alert">{{ forgotPassMsgs }}</div>
</div>

<div *ngIf="sendEmailForm()" class="col-md-6 col-md-offset-3">
  <h2>Forgot Password</h2>
  <form name="form" (ngSubmit)="f.form.valid && forgotPassSendEmail()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email"
             [(ngModel)]="model.email"
             #email="ngModel"
             email />

      <div *ngIf="f.submitted && (!email.valid || email.errors?.email)" class="help-block">Email is invalid</div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Send Password Reset Email</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>

<div *ngIf="!sendEmailForm()" class="col-md-6 col-md-offset-3">
  <h2>Reset Password</h2>
  <form name="form" (ngSubmit)="f.form.valid && forgotPassResetPass()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password"
             [(ngModel)]="model.password"
             #password="ngModel"
             [rangeLength]="[6,255]"
             required />
      <div *ngIf="f.submitted && (password.errors?.rangeLength || !password.valid)" class="help-block">Password must be between 6 and 255 characters long</div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Reset Password</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>

<div class="col-md-6 col-md-offset-3">
  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a [routerLink]="['/login']" class="btn btn-link"><span aria-hidden="true">&larr;</span> Login</a></li>
    </ul>
  </nav>
</div>