<style>
    .highlight {
        background-color: #222222;
        color: #F5F5F5;
        padding-left: 2px;
        padding-right: 2px;
        cursor: pointer;
    }

    .highlight:hover {
        background-color: lightgrey;
        color: black;
    }

</style>
<div *ngIf="isDesigner" style="display: inline-block">
    <span (click)="onClickAnnotation($event.target, $event)" class="highlight" placement="{{this.placement}}"
          [popover]="popTemplate"> {{note.phrase}}</span>
    <template #popTemplate>
        <div>
            <ckeditor
                    [(ngModel)]="note.description"
                    [config]="{toolbar : [
                        { name: 'document', items: [ 'Source','PasteFromWord',  '-','Preview', 'Maximize' ] },
                        { name: 'clipboard', items: [  'Undo', 'Redo' ] },
                        { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline' ] },
                        { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
                        { name: 'insert' },
    '/',
    { name: 'styles' },
    { name: 'colors' },
    { name: 'tools' },
    { name: 'others' },
    { name: 'about' }
                    ]}"
                    debounce="500">
            </ckeditor>
        </div>
        <button style="width: 100%; margin-top: 8px;" class="btn btn-default" (click)="updateAnnotation()">{{status}}</button>
    </template>
</div>
<div *ngIf="!isDesigner" style="display: inline-block">
    <span (click)="onClickAnnotation($event.target, $event)" class="highlight" placement="{{this.placement}}"
          [popover]="popTemplate"> {{note.phrase}}</span>
    <template #popTemplate>
        <div [innerHTML]="safeDesc"></div>
    </template>
</div>

