<br />
<table class="table">
    <tr>
        <th>
            Course ID
        </th>
        <th>
            Course Name
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    <tr *ngFor="let course of courses">
        <td (click)="onSelect(course)">
            <a (click)="toCourse(course)">{{course.id}}</a>
        </td>
        <td (click)="onSelect(course)">
            <a (click)="toCourse(course)">{{course.name}}</a>
        </td>
        <td>
            <button class="btn btn-default" (click)="delete(course); $event.stopPropagation()">Delete</button>
        </td>
        <td>
            <button class="btn btn-default" (click)="toPRList(course)">View Registrations</button>
        </td>
    </tr>

    <tr *ngFor="let course of fakeCourses">
        <td (click)="onSelect(course)">
            <a (click)="toCourse(course)">{{course.id}}</a>
        </td>
        <td (click)="onSelect(course)">
            <a (click)="toCourse(course)">{{course.name}}</a>
        </td>
        <td>
            <button class="btn btn-default" (click)="mockDelete(course); $event.stopPropagation()">Delete</button>
        </td>
    </tr>

</table>
<div *ngIf="selectedCourse">
    <h2>
      {{selectedCourse.name | uppercase}} is my course
    </h2>
    <button (click)="gotoCourse()">View Details</button>
</div>
<div>
    <clsp-course-form></clsp-course-form>
</div>