<div *ngIf="course" class="row">
    <div>
        <h2>{{course.name}} details</h2>
        <div><label>id : </label>{{course.id}}</div>
        <div>
            <label> name: </label>
            <input [(ngModel)]="course.name" placeholder="name" />
        </div>
        <button (click)="goBack()">Back</button>
        <button (click)="save()">Save</button>
        <!-- <prof-registrations [courseId]="course.id"></prof-registrations> -->
    </div>
</div>
<br />
<div *ngIf="course && !edited" class="row">
    <label> Media Link: </label>
    <input [(ngModel)]="media" placeholder="" />
    <button (click)="addMedia()">Add</button>
</div>
<div *ngIf="edited">
    <iframe width="420" height="315" [src]='getSafeURL()'>
    </iframe>
</div>
