<div *ngIf="course">
    <div class="row">
        <h2>{{course.name}}</h2>
    </div>
    <div *ngIf="!edited" class="row">
        <p>
            {{course.description}}
        </p>
        <button (click)="editCourse()" class="btn btn-default">Edit</button>
    </div>
    <div *ngIf="edited" class="row">
        <div class="form-grom">
            <label for="name"> Name: </label>
            <input class="form-control" [(ngModel)]="course.name" placeholder="name" />
        </div>
        <br />
        <div class="form-group">
            <label for="description"> Description: </label>
            <textarea class="form-control" [(ngModel)]="course.description" placeholder="description"></textarea>
        </div>
        <button class="btn btn-default" (click)="save()">Save</button>
        <!-- <prof-registrations [courseId]="course.id"></prof-registrations> -->
    </div>
    <div class="row">
        <br />
        <h2>Units</h2>
        <table class="table table-hover">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Weight
                </th>
                <th>

                </th>
            </tr>
            <tr *ngFor="let unit of units" class="unit-row">
                <td (click)="toUnit(unit)">
                    {{unit.name}}
                </td>
                <td (click)="toUnit(unit)">
                    {{unit.description}}
                </td>
                <td (click)="toUnit(unit)">
                    {{unit.weight}}
                </td>
                <td>
                    <button class="btn btn-default" (click)="deleteUnit(unit)">Delete Unit</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div *ngIf="newUnit" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create New Unit</h3>
            </div>
            <div class="panel-body container">
                <form (ngSubmit)="onSubmit()" #unitForm="ngForm">
                    <div class="form-group">
                        <label for="name">Unit Name</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="newUnit.name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="name">Unit Description</label>
                        <textarea type="text" class="form-control description-text" id="description" [(ngModel)]="newUnit.description" name="description" rows="10" cols="12"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Weight</label>
                        <input type="number" class="form-control description-text" id="weight" [(ngModel)]="newUnit.weight" name="weight">
                    </div>
                    <button type="submit" class="btn btn-success" [disabled]="!unitForm.form.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="btn-group" role="group">
            <button class="btn btn-default" (click)="goBack()">Back</button>
            <button *ngIf="!newUnit" (click)="createUnit()" class="btn btn-default">Add Unit</button>
        </div>
    </div>
</div>
