<div *ngIf="header">
    <div class="row" *ngIf="courseName">
        <p>
            <a href="course/{{unit.course_id}}">{{courseName}}</a> >> <a href="unit/{{unit.id}}">{{unit.name}}</a> >>
            <a href="unit/{{unit.id}}/song/{{song.id}}" *ngIf="song">{{song.title}}</a> >> <b>{{header.name}}</b>
        </p>
    </div>
    <div class="row">
        <h2>Questions for {{header.name}}</h2>
    </div>
    <div class="row" *ngFor="let question of questions">
        <h3>
            {{question.weight}}. {{question.content}}
        </h3>
        <h4>Type: {{question.type}}</h4>
        <div *ngIf="question.type == 'fill-blank'">
            <p>
                <b>Answer: </b> {{question.answers}}
            </p>
        </div>
        <div *ngIf="question.type == 'multiple-choice' || question.type =='multiple-select'">
            <div *ngFor="let choice of getChoices(question.choices); let i = index;" class="col-md-12">
                <p>
                    <b>Choice {{convertAscii(i)}}:</b> {{choice.choice}}
                </p>
            </div>
            <div class="col-md-12" *ngIf="question.type == 'multiple-choice'">
                <p>
                    <b>Correct Choice: </b> {{getChoices(question.answers)[0].choice}}
                </p>
            </div>
            <div class="col-md-12" *ngIf="question.type == 'multiple-select'">
                <b>Correct Choices:</b>
                <p *ngFor="let answer of getChoices(question.answers);">
                    {{answer.choice}}
                </p>
            </div>
        </div>
        <button class="btn btn-default" (click)="deleteQuestion(question)">Delete Question</button>
    </div>
    <br />
    <div class="row" *ngIf="!newQuestion">
        <button class="btn btn-default" (click)="createQuestion()">Add Question</button>
        <br />
        <br />
    </div>
    <div class="row" *ngIf="newQuestion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create New Question</h3>
            </div>
            <div class="panel-body container">
                <label for="type">Type</label>
                <select class="form-control" name="type" id="type" [(ngModel)]="selectedType">
                    <option value="short-answer">Short Answer</option>
                    <option value="long-answer">Long Answer</option>
                    <option value="fill-blank">Fill in the Blank</option>
                    <option value="multiple-choice">Multiple Choice</option>
                    <option value="multiple-select">Multiple Select</option>
                </select>
                <br />
                <form (ngSubmit)="onSubmit()" #questionForm="ngForm">
                    <div class="form-group">
                        <label for="name">Weight</label>
                        <input type="number" class="form-control" id="weight" [(ngModel)]="newQuestion.weight" name="weight" />
                    </div>
                    <div class="form-group">
                        <label for="name">Question</label>
                        <input type="text" class="form-control" id="content" required [(ngModel)]="newQuestion.content" name="content">
                    </div>
                    <div *ngIf="selectedType == 'multiple-choice' || selectedType == 'multiple-select'">
                        <div style="margin-left:20px;">
                            <div class="input-group" *ngFor="let choice of choices; let i = index;" style="margin-top: 10px;">
                                <label for="choice">Choice {{convertAscii(i)}}</label>
                                <input type="text" class="form-control" id="choice" required [(ngModel)]="choices[i].choice" name="choice{{i}}" />
                                <span class="input-group-btn">
                                    <button (click) = "removeChoice(i)" class="btn btn-default" type="button" style="margin-top:25px;">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                </span>
                            </div>
                            <br />
                            <button type="button" class="btn btn-default" (click)="addChoice()">Add Choice</button>
                            <br />
                            <br />
                        </div>
                        <div class="form-group" *ngIf="selectedType == 'multiple-choice'">
                            <label for="type">Answer</label>
                            <select class="form-control" name="mcAnswer" id="mcAnswer" [(ngModel)]="mcAnswer">
                                <option *ngFor="let choice of choices; let i = index;" value="{{choice.choice}}">Choice {{convertAscii(i)}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="selectedType == 'multiple-select'">
                            <label for="type">Answers</label>
                            <select multiple class="form-control" name="msAnswers" id="msAnswers" [(ngModel)]="msAnswers">
                                <option *ngFor="let choice of choices; let i = index;" value="{{choice.choice}}">Choice {{convertAscii(i)}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="selectedType == 'fill-blank'">
                        <label for="type">Answer</label>
                        <input type="text" class="form-control" id="answer" [(ngModel)]="newQuestion.answers" name="answer">
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                        <button class="btn btn-success" [disabled]="!questionForm.form.valid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
