<h2 *ngIf="song">Link Media to {{song.title}}</h2>

<div>
    <h3>File Search</h3>
    <p>Name</p><input [(ngModel)]="searchName" class="form-control" name="searchName" id="searchName" /><p>File Type</p><input [(ngModel)]="searchType" class="form-control" name="searchType" id="searchType" />
    <button type="btn btn-default" (click)="searchFiles()">Search</button>
    <button type="btn btn-default" (click)="clearSearch()">Clear</button>
</div>

<div *ngIf="files">
    <br/>
    <table class="table" *ngIf="linked">
        <thead>
        <tr>
            <th width="30%">Name</th>
            <th width="10%">File Type</th>
            <th width="30%">Embed URL</th>
            <th width="5%">Linked</th>
            <th width="25%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of files">
            <!--<td><strong>{{file.id}}</strong></td>-->
            <td>{{file.name}}</td>
            <td>{{file.file_type}}</td>
            <td>/files/{{file.filename}}</td>
            <td *ngIf="isLinked(file.id)"><strong>Yes</strong></td>
            <td *ngIf="!isLinked(file.id)"><strong>No</strong></td>
            <td *ngIf="!isLinked(file.id)">
                <button type="btn btn-default" (click)="linkMedia(file.id)" >Link File</button>
            </td>
            <td *ngIf="isLinked(file.id)">
                <button type="btn btn-default" (click)="deleteLink(file.id)" >Unlink File</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="btn-group" role="group">
        <button class="btn btn-default" (click)="goBack()">Back</button>
    </div>
</div>
