<div *ngIf="header">
  <div class="row" *ngIf="courseName">
    <p>
      <a href="student/course/{{unit.course_id}}">{{courseName}}</a> >> <a href="unit/{{unit.id}}">{{unit.name}}</a> >>
      <a href="student/unit/{{unit.id}}/song/{{song.id}}" *ngIf="song">{{song.title}}</a> >> <b>{{header.name}}</b>
    </p>
  </div>
  <div class="row">
    <h2>Questions for {{header.name}}</h2>
  </div>
  <div *ngIf="!printVersion">
    <div class="row" *ngFor="let question of questions">
      <h3 *ngIf="question.type == 'fill-blank'" style="display:inline">
                {{question.weight}}.
                <span *ngFor="let piece of question.fbPieces;">
                    <span *ngIf ="checkBlank(piece)">
                        {{piece}}
                    </span>
                    <span *ngIf="!checkBlank(piece)">
                        <input type="text" class="form-control" [name]="'fbanswer' + piece" attr.name="{{'fbanswer' + piece}}" required [(ngModel)]="question.fbAnswers[+piece].choice" style="width:300px;display:inline;margin-top:-10px;">
                        <span *ngIf="question.correct != null">
                            <span class = "glyphicon glyphicon-remove" style="color:red" *ngIf="question.correct[+piece] == false"></span>
                            <span class = "glyphicon glyphicon-ok" style="color:green" *ngIf="question.correct[+piece] == true"></span>
                        </span>
                    </span>
                </span>
            </h3>
      <h3 *ngIf="question.type != 'fill-blank'">
                {{question.weight}}. {{question.content}}
                <span *ngIf="question.correct != null">
                    <span class = "glyphicon glyphicon-remove" style="color:red" *ngIf="question.correct == false"></span>
                    <span class = "glyphicon glyphicon-ok" style="color:green" *ngIf="question.correct == true"></span>
                </span>
            </h3>
      <!-- <form *ngIf="question.type == 'fill-blank'">
                <div class="form-group" *ngFor="let answer of question.fbAnswers;let i = index">
                    <label for="name">Blank {{i + 1}}</label>
                    <input type="text" class="form-control" [name]="'fbanswer' + i" attr.name="{{'fbanswer' + i}}" required [(ngModel)]="question.fbAnswers[i].choice">
                </div>
                <p *ngIf="question.correct != null">
                    <b>Correct:</b> {{question.correct}}
                </p>
            </form> -->
      <div *ngIf="question.type == 'multiple-choice' || question.type =='multiple-select'">
        <div class="col-md-12" *ngIf="question.type == 'multiple-choice'">
          <form>
            <div class="radio" *ngFor="let choice of question.displayChoices; let i = index">
              <label>
                            <input type="radio" [(ngModel)]="question.mcAnswer" name="answer" [value]="choice.choice" />
                            {{choice.choice}}
                        </label>
            </div>
          </form>
          <p>
            <b>Selected Answer: </b> {{question.mcAnswer}}
          </p>
        </div>
        <div class="col-md-12" *ngIf="question.type == 'multiple-select'">
          <div>
            <select multiple class="form-control" name="msAnswers" id="msAnswers" [(ngModel)]="question.msAnswers">
                            <option *ngFor="let choice of  question.displayChoices;" value="{{choice.choice}}">{{choice.choice}}</option>
                        </select>
          </div>
          <p>
            <b>Selected Answers:
                            <span *ngFor="let answer of question.msAnswers">
                                <br />
                                {{answer}}
                            </span>
                        </b>
          </p>
          <p *ngIf="question.correct  != null">
            <b>Correct:</b> {{question.correct}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="printVersion">
    <div class="row" *ngFor="let question of questions">
      <h3 *ngIf="question.type == 'fill-blank'">
                {{question.weight}}.
                <span *ngFor="let piece of question.fbPieces;">
                    <span *ngIf ="checkBlank(piece)">
                        {{piece}}
                    </span>
                    <span *ngIf="!checkBlank(piece)" style="text-decoration:underline">
                        {{question.fbAnswers[+piece].choice}}
                    </span>
                </span>
            </h3>
      <h3 *ngIf="question.type != 'fill-blank'">
                {{question.weight}}. {{question.content}}
            </h3>
      <div *ngIf="question.type == 'multiple-choice' || question.type =='multiple-select'">
        <div *ngFor="let choice of getChoices(question.choices); let i = index;" class="col-md-12">
          <div *ngIf="question.type == 'multiple-choice'">
            <p *ngIf="choice.choice != question.mcAnswer">
              <b>{{convertAscii(i)}}:</b> {{choice.choice}}
            </p>
            <p *ngIf="choice.choice == question.mcAnswer" style="font-weight:900">
              <b>{{convertAscii(i)}}: {{choice.choice}}</b>
            </p>
          </div>
          <div *ngIf="question.type == 'multiple-select'">
            <p *ngIf="!isMsAnswer(question, choice.choice)">
              <b>{{convertAscii(i)}}:</b> {{choice.choice}}
            </p>
            <p *ngIf="isMsAnswer(question, choice.choice)" style="font-weight:900">
              <b>{{convertAscii(i)}}: {{choice.choice}}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="btn-group" role="group">
      <button class="btn btn-success" (click)="checkAnswers()">Check Answers</button>
      <button class="btn btn-default" *ngIf="!printVersion" (click)="printerVersion()">Printable View</button>
      <button class="btn btn-default" *ngIf="printVersion" (click)="cancelPrint()">Normal View</button>
    </div>
  </div>
</div>
